@use "headings";
@use "copy";
@use "../../abstracts/variables/colors" as colors;
@use "../../abstracts/variables/typography" as type;

body,
button,
input,
select,
optgroup,
textarea {
	color: colors.$color__text-main;
	font-family: type.$font__main;
	font-size: 1rem;
	line-height: type.$font__line-height-body;
}


