@use 'vars-mixins' as vars;

html {
  font-size: 62.5%;
}

body {
    background-color: vars.$neutral-bg;
    font-size: 1.6rem;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.button-reset {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: unset;
    background-color: transparent;
}

.list-reset {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }

  @each $breakpoint, $value in vars.$grid-breakpoints {
    @if ($value == 0) {
      .d-flex {
        display: flex;
      }
    } @else {
      .d-flex-#{$breakpoint} {
        @media (min-width: $value) {
          display: flex;
        }
      }
    }
  }


  .content-width {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    @include vars.content-max-width;
  }


