@use 'vars-mixins' as vars;

// projects featured link --------------------------------


.rcp {
    margin-bottom: 40px;

    border-bottom: vars.$accent 1px solid;
    margin-bottom: 40px;
    padding-bottom: 40px;

    @include vars.breakpoint('md') {
        width: calc(33.33% - 13.33px);
        flex: 1 1 auto;
        max-width: 50%;
        border-bottom: none;
        padding-bottom: 0;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &s {
        @include vars.breakpoint('md') {
            display: flex;
        }
    }

    &-thumbnail {
        width: 100%;
        height: 250px;
        margin-bottom: 15px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }

    &-no-thumbnail {
        width: 100%;
        height: 250px;
        margin-bottom: 15px;

        &-bg-1 {
            background-color: vars.$theme-color-1;
        }

        &-bg-2 {
            background-color: vars.$theme-color-2;
        }

        &-bg-3 {
            background-color: vars.$theme-color-3;
        }

        &-bg-4 {
            background-color: vars.$theme-color-4;
        }
    }

    &-title {
        margin-bottom: .25em;
    }

    &-read-more-link {
        color: vars.$text-color;

        &-wrap {
            display: flex;
            justify-content: flex-end;
        }
    }

    &-view-all {
        display: flex;
        justify-content: center;
    }
}

.proj {
    &-categories {
        margin-bottom: 5px;
    }

    &-category {
        //a
        display: inline-block;
        margin: 0 5px 5px 0;
        background-color: vars.$text-color;
        font-size: 1.2rem;
        padding: .2em .5em;
        ;
        border-radius: 3px;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.07em;
        font-weight: 500;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &-excerpt {}

    &-tag {
        color: vars.$text-color;
        text-decoration: none;
        background-color: vars.$theme-color-1;
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &:first-of-type {
            padding: .25em .5em .25em .75em;
            position: relative;
        }

        &:last-of-type {
            &:after {
                content: "";
                display: inline-block;
                width: 1.25em;
                height: 1.25em;
                left: calc(100% - .625em);
                margin: 0;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%) rotate(45deg);
                background-color: vars.$theme-color-1;
                z-index: -1;
                pointer-events: none;
            }
        }

        &:not(:first-of-type) {
            padding: .25em .5em .25em 1.5em;
            position: relative;
            background-color: vars.$theme-color-1;

            &:before {
                content: "";
                display: inline-block;
                width: 1.25em;
                height: 1.25em;
                border-width: 2px 2px 0 0;
                border-color: vars.$neutral-bg;
                border-style: solid;
                left: -.5em;
                margin: 0;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%) rotate(45deg);
                pointer-events: none;
            }
        }

        &s {
            margin-bottom: 8px;
        }
    }
}




// blog featured link ------------------------------------
.rbp {

    width: 100%;
    margin-bottom: 20px;
    display: flex;

    @include vars.breakpoint('md') {
        width: calc(50% - 15px);
    }

    &s {
        margin-bottom: 20px;

        @include vars.breakpoint('md') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &-content {
        flex: 1 1 auto;
    }

    &-read-more-link {
        flex-shrink: 0;
        justify-self: flex-end;
        color: vars.$text-color;

        &-wrap {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }
    }

    &-title {

    }

    &-excerpt {}

    &-view-all {
        display: flex;
        justify-content: center;

    }
}

.post-date-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: vars.$theme-color-3;
    color: white;
    font-weight: 600;
    padding: 5px;
    min-width: 83px;
    margin-right: 15px;


    .post-month {
        text-transform: uppercase;
        line-height: 1.2;
    }
    .post-day{
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
    }
    .post-year {}
}


// projects list -----------------------------------------
.filters-hl {
	font-size: 1.8rem;
	margin-bottom: .5em;
}

.filters-list {
	margin: 0 0 40px;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;

	li {
		margin: 0 10px 10px 0;
	}

	a {
		display: inline-block;
		padding: 5px 10px;
		text-decoration: none;
		text-transform: uppercase;
		background-color: vars.$text-color;
		color: white;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 2px;
        text-underline-offset: .2em;

		&:hover, &:focus {
			text-decoration: underline;

		}
	}
}

.projects-archive-list {
    article {
        display: flex;
        flex-direction: column;

        padding: 30px 0;

        border-bottom: 1px solid vars.$accent;

        @include vars.breakpoint('sm') {
            flex-direction: row;
        }

        .entry-featured-image{
            width: 100%;
            text-align: center;
            margin-bottom: 20px;

            @include vars.breakpoint('sm') {
                width: 33%;
                max-width: 250px;
                margin: 0 20px 0 0;
                flex-shrink: 0;
            }
            a {
                display: block;
                width: 100%;
                img {
                    object-fit: cover;
                }
            }
        }

        .header-text-wrap {
            flex-grow: 1;

            @include vars.breakpoint('lg') {
                margin-right: 20px;
            }
        }

        .proj-categories {
            display: block;
            margin-right: 20px;
        }

        .header-text-cta-wrap {
            @include vars.breakpoint('lg') {
                display: flex;
                align-items: center;
                flex-grow: 1;
            }
        }

        .entry-header {

        }

        .entry-title {
            margin: 0;

            a {
                text-decoration: none;
                text-underline-offset: 4px;
                color: vars.$text-color;
                font-weight: 500;

                &:hover, &:focus {
                    text-decoration: underline;
                }
            }
        }

        .entry-meta {
            line-height: 1.2;
        }

        .posted-on {
            a {
                text-decoration: none;
                text-underline-offset: 2px;
                color: vars.$text-color;
                font-style: italic;
                font-size: 1.4rem;
                color: vars.$light-gray;

                &:hover, &:focus {
                    text-decoration: underline;
                }
            }
        }

        .entry-date {}

        .cat-links {}

        .entry-summary {
            p{}
        }

        .entry-footer {
            a {
                color: vars.$text-color;
                white-space: nowrap;
            }
        }
    }
}

.proj-archive-cat-tags-wrap {
    margin-bottom: 30px;

    @include vars.breakpoint('md') {
        display: flex;
    }

    @include vars.breakpoint('lg') {
        margin-bottom: 0;
    }
}

    .proj-archive-tag {
        display: block;
        margin: 0 10px 10px 0;
        text-decoration: none;
        color: vars.$theme-collor-a11y-orange;
        font-size: 1.4rem;
        text-underline-offset: 2px;

        &:hover, &:focus {
            text-decoration: underline;
        }

        &s {
            display: flex;
            align-items: center;
        }
    }






// blog list ---------------------------------------------