@use 'vars-mixins' as vars;


#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-decoration: none;
}

#back-to-top:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


// header ------------------------------

.site-header {
    position: relative;
    z-index: 1;

    &-inner {
        position: relative;
        padding: 15px 0;
        justify-content: space-between;
        align-items: center;

        @include vars.breakpoint('md') {
            justify-content: flex-start;
        }
    }
}

.home .site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: vars.$neutral-bg;

    @include vars.breakpoint('md') {
        background-color: unset;
    }
}

.custom-logo-link {
    display: block;
    width: 65px;

    img {
        display: block;
        width: 100%;
    }
}

// footer ----------------------------------------------------
.site-footer {}

.footer {
    &-top,
    &-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        @include vars.breakpoint('md') {
            flex-direction: row;
            align-items: flex-start;
        }

        @include vars.breakpoint('lg') {
            align-items: center;
        }
    }

    &-bottom {
        justify-content: center;
        font-size: 1.2rem;
    }

    &-logo {
        text-align: center;
        margin-bottom: 20px;

        @include vars.breakpoint('md') {
            margin: 5px 0 0;
            align-self: flex-start;
        }


        &-link {
            img {}
        }
    }

    &-menu {
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0 0 40px;

        @include vars.breakpoint('md') {
            margin: 0 0 0 40px;
            padding: 5px 0 5px 40px;
            border-left: 1px solid vars.$text-color;
            text-align: left;
        }

        @include vars.breakpoint('lg') {
            display: flex;
        }
    }

    .menu-item {
        margin-bottom: .5em;

        @include vars.breakpoint('lg') {
            margin: 0 1.5em 0 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: vars.$text-color;
            text-decoration: none;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }

    }

    &-social {
        @include vars.breakpoint('md') {
            margin-left: auto;
        }

        &-link {
            color: vars.$text-color;
            opacity: 1;
            margin: 0 5px;
            font-size: 2.2rem;
            transition: opacity .2s;

            &:hover, &:focus {
                opacity: .6;
            };
        }
    }

    &-copy {}

    &-privacy {
        color: vars.$text-color;
    }
}

.menu-footer-menu-container {}


// home hero
.home-hero {
    position: relative;
    @include vars.section-margin;

    @include vars.breakpoint('md') {
        height: calc(100vw * (9 / 16));
        max-height: 900px;
    }

    .content-width {
        position: relative;

        @include vars.breakpointmax('md') {
            max-width: none !important;
        }

        @include vars.breakpoint('md') {
            display: flex;
            align-items: center;
        }
    }

    &-content {
        width: 50%;

        @include vars.breakpointmax('md') {
            position: absolute;
            width: calc(100% - 40px);
            @include vars.vert-and-center-align;
            z-index: 1;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                z-index: -1;
            }

            &:before {
                background-color: vars.$theme-color-2;
                width: 25%;
                height: 80%;
                left: -20px;
                bottom: -20px;
            }

            &:after {
                background-color: vars.$theme-color-3;
                width: 50%;
                height: 100%;
                top: -20px;
                right: -20px;
            }
        }

        &-inner {
            @include vars.breakpointmax('md') {
                text-align: center;
                background-color: vars.$neutral-bg;
                padding: vars.vw(20, 325);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                z-index: 1;
            }
        }

        &-title {
            line-height: 1;
            margin-bottom: .1em;
            @include vars.vp-max(35, 375, 5.7rem, 'font-size');
            text-transform: uppercase;
            font-weight: 800;

            @include vars.breakpoint('md') {
                line-height: .8;
                font-size: 6.2rem;
            }

            @include vars.breakpoint('lg') {
                font-size: 8rem;
            }

            @include vars.breakpoint('xl') {
                font-size: 9.6rem;
            }

            @include vars.breakpoint('xxl') {
                font-size: 10rem;
            }

            br {
                @include vars.breakpointmax('md') {
                    display: none;
                }
            }
        }

        &-tagline {
            margin: 0 0 1rem;
            line-height: 1.2;

            @include vars.breakpoint('md') {
                margin-bottom: .75em;
            }

            &-1 {
                @include vars.vp-max(17, 375, 2.8rem, 'font-size');
                font-weight: 500;

                @include vars.breakpoint('md') {
                    font-size: 2.34rem;
                }

                @include vars.breakpoint('lg') {
                    font-size: 3rem;
                }

                @include vars.breakpoint('xl') {
                    font-size: 3.65rem;
                }

                @include vars.breakpoint('xxl') {
                    font-size: 3.8rem;
                }
            }

            &-2 {
                @include vars.vp-max(14, 375, 2rem, 'font-size');

                @include vars.breakpoint('md') {
                    font-size: 1.74rem;
                }

                @include vars.breakpoint('lg') {
                    font-size: 2.24rem;
                }

                @include vars.breakpoint('xl') {
                    font-size: 2.7rem;
                }

                @include vars.breakpoint('xxl') {
                    font-size: 2.8rem;
                }
            }
        }

        &-cta-group {
            margin-top: 25px;
            display: flex;


            $btn-break: 'sm';

            flex-direction: column;

            @include vars.breakpoint(#{$btn-break}) {
                flex-direction: row;
                justify-content: center;
            }

            @include vars.breakpoint('md') {
                justify-content: start;
            }

            .btn {
                @include vars.vp-max(14, 375, 2rem, 'font-size');
                padding: .5em 1em;

                @include vars.breakpoint('md') {
                    font-size: 1.6rem;
                }

                @include vars.breakpoint('lg') {
                    font-size: 2rem;
                }

                &:first-child {
                    margin: 0 0 .75em 0;

                    @include vars.breakpoint(#{$btn-break}) {
                        margin: 0 .75em 0 0;
                    }
                }
            }
        }
    }

    &-img {
        display: block;
        width: 100%;

        @include vars.breakpointmax('md') {
            height: 100%;
            object-fit: contain;
            object-position: center right;
        }

        &-frame {
            width: 50%;
            height: 100%;

            @include vars.breakpointmax('md') {
                width: calc(100% + 40px);
                margin-left: -20px;
            }
        }
    }
}

// home skills -----------------------------------------------
.skills-wrap {}

.skills-list {
    margin: 0 0 40px;

    @include vars.breakpoint('sm') {
        columns: 2;
        column-gap: 20px;
    }

    @include vars.breakpoint('lg') {
        columns: 3;
    }

    @include vars.breakpoint('xxl') {
        columns: 4;
    }
}

.skill-bar {
    //li
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    margin-bottom: 10px;

    &.in-view {
        @for $i from 0 through 10 {
            .width-#{$i} {
                width: #{$i * 10}+'%';
            }
        }
    }

    &__text {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__bar {
        display: block;
        width: 0;
        height: 15px;
        transition: width .5s ease;
        break-inside: avoid;
        background: linear-gradient(135deg,
                vars.$theme-color-1 0%,
                vars.$theme-color-3 30%,
                vars.$theme-color-4 70%,
                vars.$theme-color-2 100%);
    }
}

.developing-skills-list {}


// about callout ---------------------------------------------
.fp-about {
    background-color: vars.$theme-color-1;
    padding-top: 40px;
    padding-bottom: 40px;

    &-link {
        color: vars.$text-color;

        &-wrap {
            display: flex;
            justify-content: flex-end;
        }
    }
}

// contact cta -----------------------------------------------
.contact-cta {
    background-color: vars.$accent;
    padding-top: 40px;
    padding-bottom: 40px;

    &-wrap {
        display: flex;
        align-items: center;
        max-width: 900px;
        margin: 0 auto;
    }

    &-content {
        margin-left: 40px;

        @include vars.breakpoint('lg') {
            display: flex;
            align-items: center;
        }
    }

    &-headline {
        margin: 0;

        @include vars.breakpoint('md') {
            flex-shrink: 0;
        }
    }

    &-interest {
        margin-right: 20px;
    }

    &-link {
        margin-left: auto;
    }
}


// page headline -----------------------------------------------
.page-title {
    background-color: vars.$theme-color-1;
    margin: 30px 0;

    @include vars.breakpoint('md') {
        margin: 50px 0;
    }

    &__hl {
        &-txt {
            display: inline-block;
            position: relative;
            background-color: vars.$neutral-bg;
            padding: .2em;
            line-height: 1;

            @include vars.breakpoint('md') {
                font-size: 6.8rem;
            }

            &:after,
            &:before {
                content: '';
                width: 0px;
                height: 0px;
                border-style: solid;
                position: absolute;
                top: 0;
            }

            &:after {
                border-width: 1.4em 1em 0 0;
                border-color: vars.$neutral-bg transparent transparent transparent;
                left: 100%;
            }

            &:before {
                border-width: 0 0 1.4em 1em;
                border-color: transparent transparent vars.$neutral-bg transparent;
                right: 100%;
            }
        }
    }
}